
/* Buttons
--------------------------------------------- */
.button {
    background-color: #222;
    background-image: linear-gradient(to bottom, #373737 0%, #111111 100%);
    border: 1px solid #5D5D5D;
    border-radius: 3px;
    color: #CCC;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: auto;
    line-height: 28px;
    padding: 0 12px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropdown-select {
    padding-right: 5px;
}

.button:hover,
.button:active,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
    background-color: #37dfff;
    background-image: linear-gradient(to bottom, #37dfff 0%, #1041e2 100%);
    border-color: #238eff;
    color: #FFF;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(255, 255, 255, 0.8);
}

.icon-button:before {
    background: none;
    content: none;
    height: auto;
    width: auto;
}

.icon-button:after,
.dropdown-select:before,
.dropdown-select:after {
    background: none;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
    right: auto;
    left: auto;
    top: auto;
    float: none;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-button.dropdown-select {
    font-size: 0;
    padding: 0 5px 0 8px;
}

.icon-button.dropdown-select:before {
    margin: 0 3px 0 1px;
    width: auto;
    height: auto;
}

.dropdown-select:after {
    border-color: #5D5D5D;
    content: "\f0d7";
    font-size: 12px;
    height: 100%;
    padding-left: 3px;
    text-align: center;
    transition: border 0.2s;
}

.dropdown-select:hover:after,
.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after {
    border-color: #238eff;
}



/* Icon images
--------------------------------------------- */
.small-icon {
    background: none !important;
    padding: 0;
    position: relative;
}

.small-icon > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.small-icon > a:before,
#top-bar .small-icon:before,
.profile-context .user-icons a:before {
    display: inline-block;
    font-family: FontAwesome;
    color: #888;
    text-shadow: 0 0 5px #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.small-icon > a:hover:before {
    color: #FFF;
    text-shadow: 0 0 16px #009CFF;
}

.dropdown-contents .small-icon > a:before {
    width: 1.28571em;
    text-align: center;
}

#top-bar .small-icon:before,
#top-bar .small-icon.link > a:before {
    color: inherit;
    padding-right: 5px;
}

/* Post control buttons */
.post-buttons .icon-button {
    background: none !important;
    border: none;
    box-shadow: none !important;
    line-height: inherit;
    padding: 0 3px;
    height: auto;
    width: auto;
}

.post-buttons .icon-button:before {
    font-family: FontAwesome;
    text-shadow: 0 0 5px #000;
    font-size: 1.3em;
    line-height: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.post-buttons .icon-button:hover:before {
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.post-buttons .dropdown li a:before {
    content: "";
    display: none;
}



/* Profile & navigation icons */
.contact-icon { background-image: url("./images/icons/icons_contact.png"); }

.profile-context .user-icons a:before {
    display: none;
    font-size: 16px;
}

/* Imageset */
span.imageset {
    display: inline-block !important;
    background: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.imageset:before {
    color: #888;
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 0;
}

.imageset.icon_contact,
.imageset.icon_topic_reported,
.imageset.icon_topic_unapproved,
.imageset.icon_topic_deleted {
    position: relative;
    background: none !important;
    padding: 15px 0 0 17px;
    text-align: center;
}


.imageset.icon_topic_poll 			{ background: url("./images/icons/poll.gif") 100% 100% no-repeat; padding: 14px 0 0 20px; vertical-align: middle; }
.imageset.icon_topic_attach 		{ background-image: url("./images/icons/icon_topic_attach.gif"); padding: 10px 0 0 7px; }
.imageset.icon_post_target 			{ background-image: url("./images/icons/icon_post_read.gif"); padding: 9px 0 0 11px; }
.imageset.icon_post_target_unread 	{ background-image: url("./images/icons/icon_post_unread.gif"); padding: 9px 0 0 11px; }
.imageset.icon_topic_latest 		{ background-image: url("./images/icons/icon_topic_latest.gif"); padding: 9px 0 0 11px; }
.imageset.icon_topic_newest 		{ background-image: url("./images/icons/icon_topic_newest.gif"); padding: 9px 0 0 11px; }
.unread .imageset.icon_topic_latest { background-image: url("./images/icons/icon_topic_newest.gif"); padding: 9px 0 0 11px; }
