/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			PBWoW 3
	Based on style:		prosilver (the default phpBB 3.1.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		PayBas ( http://pbwow.com/ )
	--------------------------------------------------------------
*/

@import url("common.css");
@import url("links.css");
@import url("colours.css");
@import url("fontawesome.css");
@import url("content.css");
@import url("forms.css");
@import url("buttons.css");
@import url("cp.css");

/* Top-bar (custom)
--------------------------------------------- */
#top-bar {
	background: url("./images/bar-bg.jpg") no-repeat scroll 50% 100% #002540;
	border-bottom: 1px solid #05517E;
	box-shadow: 0 0 3px 3px #000000;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 40px;
	color: #FFF;
	text-shadow: 1px 1px #000000;
	position: relative;
	z-index: 1;
}

#top-bar > .inner {
	border-right: 3px solid #042E45;
	border-left: 1px solid #011323;
	height: 40px;
	margin: 0 auto;
	max-width: 990px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#top-bar .linklist > li {
	border-left: 2px solid #042E45;
	border-right: 1px solid #011323;
	margin: 0;
	padding: 0 15px;
	font-size: inherit;
	line-height: inherit;
}

#top-bar .linklist > li.link {
	padding: 0;
}

#top-bar .linklist > li.link > a {
	padding: 0 15px !important;
	display: block;
	font-weight: bold;
}

#top-bar .linklist > li.link > a:hover {
	background-color: rgba(255, 255, 255, 0.05);
	text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
}

#top-bar li.responsive-menu {
	border: none !important;
	line-height: 20px;
	margin: 5px;
	padding: 3px;
}

/* Adjust the background (and videos) if top-bar is active */
body.topbar {
	background-position: 49.999% 41px;
}

body.topbar-fixed #top-bar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 40;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

body.topbar-fixed #wrap {
	margin-top: 41px;
}

body.topbar .navblock {
	margin-top: 1px;
}

/* Miscellaneous styles
--------------------------------------------- */
#video-background {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#video-container {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 0;
	z-index: -1000;
}

#video-container video {
	opacity: 0;
}

#video-border {
	position: absolute;
	width: 100%;
	z-index: -999;
}

body.fixedbg {
	background-attachment: fixed;
}

body.fixedbg #video-background {
	position: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	z-index: -1; /* Conflicts with page-body box-shadow, when enabled f*cks up chrome fixed pos */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	body.fixedbg #video-background { z-index: auto; }
}

body.topbar #video-background {
	top: 41px;
}

#darken {
	background-color: #000;
	opacity: 0.75;
}


.advertisement, .misc-block.advertisement {
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
}

/* Tweaks
--------------------------------------------- */
.notouch.section-viewtopic .post-buttons {
	opacity: 0;
	transition: opacity .4s;
}

.notouch.section-viewtopic .post:hover .post-buttons {
	opacity: 1;
}

ul.linklist > li,
#quick-links {
	margin-right: 10px;
}

ul.linklist > li.rightside {
	margin-left: 10px;
}

ul.linklist > li a:hover {
	text-decoration: none;
}

.action-bar.compact {
	display: none;
}

input#pf_pbbnetavatar, label[for=pf_pbbnetavatar] {
	display: none;
}

.topic_poll + hr {
	display: none;
}

/* PBWoW Master style specific assets
   (excluded for children)
--------------------------------------------- */

body.pbwow3 {
	background-attachment: scroll !important;
}

body.pbwow3 #logo {
	background-image: none;
	width: 266px;
	height: 126px;
	margin: 15px 10px 10px -10px;
}

body.pbwow3 #video-background {
	display: none;
}

body.pbwow3 #page-body:before {
	display: none;
}

@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {
	body.pbwow3 {
		background-image: url("./images/theme/wod-small.jpg");
		background-position: 0 0;
	}

	body.pbwow3.topbar {
		background-position: 0 41px;
	}
}

@media screen and (max-width: 859px) {
	body.pbwow3 #logo {
		width: 200px;
		height: 100px;
		margin: 0 0 25px 0;
	}
}

/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 999px) {
	.forum-blocks li.row,
	.index-left .forum-blocks li.row {
		width: 100%;
		min-height: 60px;
	}

	.forum-blocks li.row dl {
		min-height: inherit;
	}

	.postprofile {
		background-position: 50% 0;
	}
}
