.search-header:before {
	background-image: url("forum-menu-quicksearch.gif");
}

.search-header a.button {
	background-image: url("forum-menu-advanced-search.gif");
}

.search-header button.search-icon {
	background-image: url("forum-menu-search.gif");
}
